:target{
    color: rgb(42, 54, 165);
}

.myclass1 {
    color: white;
    font-size: 200%;
    font-family: "微軟正黑體";
    background-color: black;
}

.myclass2{
    border-color: rgb(37, 0, 250);
}

.myclass3{
    color: orchid;
    font-size: 800%;
    text-align: left;
}

.myclass4{
    color: rgb(72, 135, 218);
    font-size: 100px;
    font-family: "微軟正黑體";
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
